# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
venv/
.env/

# Ignore distribution files
build/
dist/
*.egg-info/

# Ignore other files
.DS_Store
# Ignore the entire virtual environment folder
.venv/
