# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
venv/
.env/
.venv/


# Ignore distribution files
build/
dist/
*.egg-info/

# Ignore other files
.DS_Store

node_modules/
